<div class="col-md-6">
  <form action="/authors/<%= defined?(author) ? "update/#{author['id']}" : 'add' %>" method="POST" class="form">
    <div class="row">
      <label>Username</label>
      <input type="text" name="username" class="form-control" value="<%= author['username'] if defined?(author['username']) %>">
    </div>
    <div class="row">
      <button type="submit" class="btn <%= defined?(author) ? 'btn-primary' : 'btn-success' %>"><%= defined?(author) ? 'Update post' : 'Add post' %></button>
    </div>
  </form>
</div>