<div class="col-md-6">
  <form action="/posts/add" method="POST" class="form">
    <div class="row">
      <label>Title</label>
      <input type="text" name="title" class="form-control">
    </div>
    <div class="row">
      <label>Author id</label>
      <input type="text" name="author_id" class="form-control">
    </div>
    <div class="row">
      <label>Content</label>
      <textarea name="content" class="form-control" rows="6"></textarea>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Add post</button>
    </div>
  </form>
</div>